* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
}

body {
  width: 95%;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  background: rgb(245, 243, 243);
  margin: 1rem;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.7rem 1.5rem;
  margin-bottom: 1rem;
  z-index: 2;
  background: white;
  border-bottom: 2px solid whitesmoke;
  box-shadow: 2px 2px 5px darkgray;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul a {
  color: #595959;
}
.navbar ul a h1 {
  color: rgb(244, 78, 60);
}
.navbar ul .logo {
  text-decoration: none;
}

.search_box {
  display: none;
  margin-top: 70px;
}
.search_box input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 4px;
}
.search_box button {
  cursor: pointer;
  background: #f44e3c;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #f44e3c;
}

.menu_options {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background: white;
  overflow: hidden;
}
.menu_options i {
  position: fixed;
  top: 10px;
  right: 20px;
  color: #404040;
  z-index: 30;
}
.menu_options ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  margin-top: 2.5rem;
}
.menu_options ul li {
  list-style-type: none;
  margin: 0.5rem 0;
}
.menu_options ul li a {
  text-decoration: none;
  color: #404040;
}
.menu_options ul li a:hover {
  text-decoration: underline;
}

.welcome_header {
  margin: 6rem 1rem 0;
}
.welcome_header h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.welcome_header p {
  font-weight: 400;
}

.all_courses {
  margin: 3rem 1rem;
  padding: 1rem;
  text-transform: capitalize;
}
.all_courses header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all_courses .underline {
  width: 80px;
  height: 2px;
  background: #f44e3c;
  margin: 0.4rem 0 2rem;
}
.all_courses .course_card {
  margin: 0.5rem;
  padding: 1rem;
  background: #ebebeb;
  border: 1px solid #e6e6e6;
  position: relative;
}
.all_courses .course_card h4 {
  margin-top: 0.5rem;
}
.all_courses .course_card .price {
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 0.1rem;
  background: white;
  color: black;
  border: 2px solid white;
}

.course_card:hover {
  border: 2px solid gray;
  transform: scale(1.05);
  transition: all 1s ease-in-out 0.5s;
  cursor: pointer;
}

.instructor_section .instructor_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructor_section .instructor_header .underline {
  width: 80px;
  height: 1px;
  background: #f44e3c;
  margin: 0.4rem 0 2rem;
}
.instructor_section .instructor {
  letter-spacing: 0;
  text-align: start;
  margin: 2rem 0;
  height: 200px;
}
.instructor_section .instructor_image {
  float: left;
  margin-right: 1.5rem;
  clear: both;
  margin-top: 0.65rem;
}
.instructor_section .colored_paragraph {
  color: #f44e3c;
}
.instructor_section hr {
  margin: 0.6rem 0;
}
.instructor_section .more {
  border: 1px solid #f44e3c;
  margin-bottom: 4rem;
}
.instructor_section .more .fa {
  color: #f44e3c;
}

.featured_topics .featured_topics_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.featured_topics .featured_topics_header .featured_underline {
  width: 80px;
  height: 3px;
  background: #ec5242;
  margin: 0.4rem 0 1.5rem;
}
.featured_topics .feature_articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 2rem 3rem;
  margin-bottom: 2rem;
}
.featured_topics .feature_articles header {
  font-size: 1.5rem;
}
.featured_topics .feature_articles div {
  margin: 0.5rem;
}

.main_about .about_section {
  margin: 5rem 0 2rem;
  color: #f44e3c;
}
.main_about .vision_header {
  color: #f44e3c;
  margin: 1rem;
}
.main_about .vision_article {
  text-align: start;
}
.main_about .vision_lists {
  margin: 1rem 0;
}
.main_about .vision_lists .vision_list {
  margin-left: 3rem;
}
.main_about .our_story_header {
  color: #f44e3c;
  margin: 2rem 0 0.8rem;
}
.main_about .our_story_article {
  text-align: start;
}
.main_about .founder_image {
  text-align: center;
  margin: 2rem 0;
}

.visible {
  display: block;
  z-index: 5;
}

footer .partnership {
  background: #4d4d4d;
  color: #fff;
  padding: 1rem;
}
footer .partnership_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
footer .partnership_heading .partnership_underline {
  width: 60px;
  height: 1px;
  background: rgb(244, 78, 60);
  margin: 0.4rem 0 1.5rem;
}
footer .partnership_img {
  display: inline-block;
  margin: 0 0.2rem;
}
footer .footer_lists {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_lists .footer_list {
  list-style-type: none;
}
footer .footer_lists .footer_list_a {
  color: #595959;
  display: inline-block;
  margin: 0 0.5rem;
}
footer .footer_paragraph {
  margin-top: -15px;
}/*# sourceMappingURL=main.css.map */